In [88]:
import pandas as pd 
import string
import matplotlib.pyplot as plt

In [89]:
df = pd.read_csv('Data/manually_cleaned/train.csv')
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to shelter in place are be...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [90]:
df.drop(['location', 'id'], axis=1, inplace=True)
df.fillna('none', inplace=True)
df.head()

  keyword                                               text  target
0    none  Our Deeds are the Reason of this #earthquake M...       1
1    none             Forest fire near La Ronge Sask. Canada       1
2    none  All residents asked to shelter in place are be...       1
3    none  13,000 people receive #wildfires evacuation or...       1
4    none  Just got sent this photo from Ruby #Alaska as ...       1

In [91]:
#Add back spaces in keywords
keywords = df['keyword'].to_list()
clean_keywords = [word.replace('%20', ' ') for word in keywords]
df['keyword'] = clean_keywords
df.head()

  keyword                                               text  target
0    none  Our Deeds are the Reason of this #earthquake M...       1
1    none             Forest fire near La Ronge Sask. Canada       1
2    none  All residents asked to shelter in place are be...       1
3    none  13,000 people receive #wildfires evacuation or...       1
4    none  Just got sent this photo from Ruby #Alaska as ...       1

In [92]:
data = df
data.head()

  keyword                                               text  target
0    none  Our Deeds are the Reason of this #earthquake M...       1
1    none             Forest fire near La Ronge Sask. Canada       1
2    none  All residents asked to shelter in place are be...       1
3    none  13,000 people receive #wildfires evacuation or...       1
4    none  Just got sent this photo from Ruby #Alaska as ...       1

In [93]:
#Use Pandas and RegEx to copy hashtags, mentions, and urls and store them each in a list in each their separate columns
data["hashtags"] = data['text'].str.findall(r'([#]\S+)')
data["mentions"] = data['text'].str.findall(r'([@]\S+)')
data["urls"] = data['text'].str.findall(r'(http:\/\/\S+)')
#Effectively deletes mentions and urls with Pandas and Regex by replacing them with an empty string as they are probably not particularly useful in NLP for Tweets
data["text"] = data["text"].str.replace('([@]\S+)', '', regex=True) #deletes mentions
data["text"] = data["text"].str.replace('((https?:\/\/)\S+)', '', regex=True) #deletes URLs
#Replaces the # symbol with an empty space to turn hashtags into regular words
data["text"] = data["text"].str.replace('[#:\n]', '', regex=True) #deletes the hashtage symbol only
#Replaces non ASCII words and symbols like: Â‰Ã›Ã with blank spaces
data["text"] = data["text"].str.replace('[^\x00-\x7F]+', '', regex=True) #deletes non English alphabet characters#Use Pandas and RegEx to copy hashtags, mentions, and urls and store them each in a list in each their separate columns
data.head()

,keyword,text,target,hashtags,mentions,urls
0,none,Our Deeds are the Reason of this earthquake Ma...,1,[#earthquake],[],[]
1,none,Forest fire near La Ronge Sask. Canada,1,[],[],[]
2,none,All residents asked to shelter in place are be...,1,[],[],[]
3,none,"13,000 people receive wildfires evacuation ord...",1,[#wildfires],[],[]
4,none,Just got sent this photo from Ruby Alaska as s...,1,"[#Alaska, #wildfires]",[],[]

In [94]:
#Further text cleaning
data['text'] = data['text'].str.lower()
data['text'] = data['text'].str.translate(str.maketrans('', '', string.punctuation))
data['text'] = data['text'].str.rstrip(" ")
data['text'] = data['text'].str.lstrip(" ")
#Lower Casing hashtags
hashtags = data['hashtags'].tolist()
lower_tags = []
for list in hashtags:
    new_list = []
    if len(list) > 0:
        for tag in list:
            lower_tag = tag.lower()
            new_list.append(lower_tag)
    else:
        new_list.append('none')
    lower_tags.append(new_list)
#Replacing null mentions and urls
mentions = data['mentions'].tolist()
clean_mentions = []
for list in mentions:
    if len(list) == 0:
        clean_mentions.append(['none'])
    else:
        clean_mentions.append(list)
urls = data['urls'].tolist()
clean_urls = []
for list in urls:
    if len(list) == 0:
        clean_urls.append(['none'])
    else:
        clean_urls.append(list)
data['mentions'] = clean_mentions
data['urls'] = clean_urls 
data['hashtags'] = lower_tags
data.head()

,keyword,text,target,hashtags,mentions,urls
0,none,our deeds are the reason of this earthquake ma...,1,[#earthquake],[none],[none]
1,none,forest fire near la ronge sask canada,1,[none],[none],[none]
2,none,all residents asked to shelter in place are be...,1,[none],[none],[none]
3,none,13000 people receive wildfires evacuation orde...,1,[#wildfires],[none],[none]
4,none,just got sent this photo from ruby alaska as s...,1,"[#alaska, #wildfires]",[none],[none]

In [95]:
data.to_csv('Data/manually_cleaned/train_regex.csv')